---
layout: page
---
<br><figure><img src="{{ site.urlimg }}{{ page.image }}"></figure>

{{ page.content }}

{% if page.video %}
<h1>Old way</h1>
<br><br>
<video src="../../images/{{ page.video }}"  width="100%" class="mejs__player" data-mejsoptions='{"alwaysShowControls": "true"}'></video>

<h1>New way</h1>
<article itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
  <div class="flex-video widescreen">
    <iframe src="../../images/{{ page.video }}" frameborder='0' allowfullscreen></iframe>
  </div>
</article>
<br><br>
{% endif %}

{% if page.image_credits or page.data_credits or page.compute_credits %}
<table>
    <caption><b>Credits</b></caption>
    {% if page.image_credits %}
    <tr><td><b>Image</b></td><td>Image(s) courtesy of {{ page.image_credits | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</td></tr>
    {% endif %}
    {% if page.data_credits %}
    <tr><td><b>Data</b></td><td>Data courtesy of {{ page.data_credits | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</td></tr>
    {% endif %}
    {% if page.compute_credits %}
    <tr><td><b>Compute</b></td><td>Compute resources courtesy of {{ page.compute_credits | markdownify | remove: '<p>' | remove: '</p>' | strip_newlines }}</td></tr>
    {% endif %}
</table>
{% endif %}

<hr>
{% include next-previous-post-in-collection back_to_top="/examples/" %}
